<%- include('../layouts/header') %>

<%- include('../layouts/menu') %>

<section class="section">
    <div class="container">
      <h1 class="title size-4">New Task</h1>

      <form method="post" action="/checklists/<%= checklistId %>/tasks">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" name="task[name]" placeholder="Tasks List" value="<%= task.name %>">
    
                <% if (task.error && task.error.hasOwnProperty('name')) { %>
                    <p class="is-danger help"><%= task.error.name.message %>></p>
                <% } %>
            </div>
        </div>
    
        <button type="submit" class="button is-success">Save</button>
        <a href="/checklists/<%= checklistId %>" class="button">Cancel</a>
      </form>
    </div>
  </section>

  <%- include('../layouts/footer') %>